*{
  margin:0px;
  padding:0px;
}
:root {
  --primary-color:rgba(255, 72, 72, 1);
  --secondary-color:rgba(0, 37, 116, 0.8);
  --accent-color:rgba(255, 104, 71, 0.66);
  --text-100:rgba(255, 255, 255, 1);
  --text-75:rgba(255, 255, 255, 0.75);
  --background-color:rgba(0,0,0,1);
}
body{
  background-color:var(--background-color);
}
.header  {
  display:flex;
  height: 80px;
  gap: 176px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.66);
  padding:0px 128px;
  color:var(--text-100);
  z-index: 100;
  grid-area:header;
  border-bottom:2px;
}
.profile-section {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 48px;
}
.profile-section h5{
  white-space: nowrap;
  color:var(--primary-color);
}
.profile-photo{
  height:48px;
  width:48px;
  background-color:var(--background-color);
  border-radius:25px;
  overflow: hidden;
}
.navigation {
  display: flex;
  gap: 24px;
}
.contact-button{
display: flex;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
width: 181px;
height: 59px;
background: var(--primary-color);
border: 3px solid var(--accent-color);
border-radius: 35px;
flex: none;
order: 2;
flex-grow: 0;
color:var(--text-100);
}
svg {
  height: 32px;
  width: 32px;
}